<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
    <label for="username"></label> <small>username</small>
    <input type="text" id="username" name="username" autocomplete="off">
    <label for="password"></label> <small>password</small>
    <input type="text" id="password" name="password" autocomplete="off">
    <button>submit</button>
    </form>
</body>
</html>
